.editor_main_wrapper{
    display: flex;
    width: 100%;
    height: 80%;
    background-color: #ffffff;
    border-radius: 8px;
    flex-direction: column; 
    margin-top: 10px;  
    
    
}


.editor_main_container {
    display: flex;
    width: 100%;
    height: 80%;
    border-bottom: 1px solid #CCCCCC;
    flex-direction: column;
    padding: 24px 20px;
  
    
  }

  .label{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0.001em;
    text-align: left;
    margin-bottom: 10px;
     
  }

.input{
    background: #FFFFFF;

margin-bottom: 20px !important;
}

.savebtn{
    border-radius: 8px !important;
    font-family: Inter !important;
font-size: 16px !important;
font-weight: 700 !important;
line-height: 19px !important;
letter-spacing: 0.001em !important;
text-align: left !important;
color: #FFFFFF !important;
width: 106px !important;
height: 40px !important;
text-align: center !important;
margin-left: auto;
margin-top: 10px;
margin-right: 20px;
height: 40px !important

}
