.resetContainer{
  margin-top: 40px;
}


.resetform label{
  font-family: Inter !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 22px !important;
  letter-spacing: 0em !important;
  text-align: left !important;
  color: #A1A6B7 !important;
}

.resetform label::before ,.resetform label::after{
  content: none !important;
}

.reset_form_title{
  font-family: Inter;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #3F4354;
  margin-bottom: 20px;
}

.change_button{
  height: 40px !important;
  width: 360px !important;
  padding: 8px 15px !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 22px !important;
  letter-spacing: 0em !important;
  text-align: center !important;
  color: #FFFFFF !important;
  border-radius: 8px !important;
}